html {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.banner {
  position: relative;
  overflow: hidden;
  max-height: 500px;
}

.img-flex {
  display: block;
  width: 100%;
}

div.main {
  position: absolute;
  width: 95%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  max-width: 750px;
}

.imgcircle {
  float: left;
  width: 33%;
}

.mainright {
  float: right;
  text-align: left;
  width: 60%;
}

.banner h2 {
  font-size: 3rem;
  font-family: "Roboto Condensed", sans-serif;
  margin: 0;
}

p {
  font-size: 1.5rem;
  line-height: 1.5;
  margin: 0;
  padding: .5em 0 .6em;
}

.btn {
  display: inline-block;
  background-color: #333;
  border-radius: 8px;
  border-width: 3px;
  border: solid;
  border-color: #333;
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
  padding: .6em .75em;
}

.btn-big {
  font-size: 1.5rem;
}

.btn:hover {
  background-color: #000;
  border-color: #000;
}
