html {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.banner {
  position: relative;
  overflow: hidden;
  max-height: 500px;
}

.img-flex {
  display: block;
}

.main {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  max-width: 750px;
}

.imgcircle {
  float: left;
  width: 38%;
}

.mainright {
  float: right;
  text-align: left;
  width: 60%;
}

h1 {
  font-size: 3rem;
  font-family: "Roboto Condensed", sans-serif;
}

p {
  font-size: 1.5rem;
  line-height: 1.5;
}

.btn {
  display: inline-block;
  background-color: #666;
  border-radius: 8px;
  border-width: 3px;
  border: solid;
  border-color: #666;
  font-size: 1.125rem;
  text-decoration: none;
  color: #fff;
  padding: .4em .75em .3em;
}

.btn-big {
  font-size: 1.5rem;
}

.btn:hover {
  background-color: #000;
  border-color: #000;
}
